@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swa");

body {
    font-family: "Inter", sans-serif;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 100px;
}